---
layout: default
---
<div id="post">
  {{ content }}
</div>

<div class="previous_next">
  {% if page.previous %}
    <div class="previous">
      <h3>Previous:</h3>
      <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
    </div>
  {% endif %}

  {% if page.next %}
    <div class="next">
      <h3>Next:</h3>
      <a href="{{ page.next.url }}">{{ page.next.title }}</a>
    </div>
  {% endif %}
</div>

<div id="disqus_thread"></div>
<script type="text/javascript" src="http://disqus.com/forums/chrisdidyksblog/embed.js"></script>
<noscript><a href="http://disqus.com/forums/chrisdidyksblog/?url=ref">View the discussion thread.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>